/* index.css */
body {
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for dark mode cause neatness */
}

header {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    font-family: 'Gabarito', sans-serif;
    text-decoration: none;
}

.main-content, .services, .contact {
    margin: 20px;
    padding: 20px;
    font-family: 'Gabarito', sans-serif;
}

footer {
    padding: 10px;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

header.dark-mode {
    background-color: #222;
    border: 1px solid #fff;
}

nav a.dark-mode {
    color: #fff;
}

.main-content.dark-mode, .services.dark-mode, .contact.dark-mode {
    background-color: #444;
}

footer.dark-mode {
    background-color: #222;
    color: #fff;
}


